#proyectos .buttons{
	margin: 20px 0;
	display: flex;
	justify-content: space-around;
	padding: 0 30px;
}
#proyectos .buttons a {
	text-align: center;
	padding: 10px 25px;
	border-radius: 6px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
	font-size: 1.3em;
}
#proyectos .buttons a:hover{
	text-decoration:none;
	background: #f0899f;
}
#proyectos h3{
	color: #f0899f;
	text-align: center;
}
#proyectos i{
	margin: 0 10px;
	color: #ed4e7098;
	font-size: 1.6em;
}
#proyectos .trabajos h2{
 margin-bottom: 20px;
 margin-top: 0;
 padding-top: 0;
}
#proyectos .trabajos{
	margin: 5px auto;
	width: 90%;
	padding: 50px;
}

#proyectos .trabajos .row{
	margin-bottom: 60px;
}
#proyectos .trabajos .descrip{
	margin: 10px 0;
	font-size: 1.3em;
}
#proyectos .trabajos img{
	margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
	#proyectos {
		padding: 0;
	}
	#proyectos .trabajos{
		margin: 5px auto;
		width: 100%;
		padding: 10px 0px;
	}
	#proyectos .buttons a {
		padding: 8px 20px;
		border-radius: 5px;
		font-size: 1em;
	}
	#proyectos .buttons{
		margin: 5px 0;
	}
	#proyectos .trabajos p{
		font-size: 0.9em;
	}
	#proyectos .trabajos h2{
		font-size: 1.9em;
	}
}