
#trabajo i{
    font-size: 4em;
}
#trabajo {
  position: relative;
  width: 90%;
  padding-bottom: 40px;
  padding-top: 20px;
}

#trabajo .cajita{
  background-color: #3333333f;
  padding: 20px 10px;
  position: relative;
}

#trabajo .cajita:hover {
  background-color: transparent;
}
#trabajo .row>div{
  margin-bottom: 10px;
  padding: 0 5px;
}
#trabajo h1{
  color: #E43753;
  margin-bottom: 50px;
}
#trabajo .caja_trans{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  color: white;
  background-color: #ee5473e8;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#trabajo .cajita:hover .caja_trans{
  opacity: 1;
  transition: all 1s;
}
@media only screen and (max-width: 814px) {
  #trabajo i{
    font-size: 3.5em;
  }
  #trabajo h3{
    font-size: 1.2em;

  }
}
@media only screen and (max-width: 768px) {
  #trabajo .caja_trans{
    font-size: 0.9em;
  }
  #trabajo .cajita h3{
    margin: 10px;
  }
  #trabajo .cajita{
    padding: 10px 5px;
  }
}